/* GENERAL */

html { height: 100%; width: 100%; }

body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light",  Helvetica, Arial, sans-serif;
    margin: 0px; padding: 0px;
    background-color: white;
    height: 100%; width: 100%;
}

h1, h2, h3, h4 { 
    font-weight: normal;
    margin: 0px; padding: 0px;
}
h1 { color: #666677; }
h2 { color: #9999AA; }

a { text-decoration: none; }
nav a { color: #112277; }

ul { 
    margin: 0px; padding: 0px; margin-top: 10px;
    list-style-type: none;
}
