body {
	min-width: 500px;
	min-height: 200px;
}

#photo {
	position: absolute;
	left: 0px; bottom: 0px;
}

#page {
	text-align: center;
	height: 180px;
	min-width: 500px;
	
	position: relative;
	top: 40%; margin-top: -90px;
}

#page h1 { font-size: 80px; }
#page h2 { font-size: 30px; }

#page nav { font-size: 20px; }
#page nav a, #page nav span {
	display: inline-block; 
	padding: 5px;
	/*width: 140px;*/
}
#page nav a:hover { background-color: #dedede; }

@media only all and (min-height: 400px /* 240+10% */) and (min-width: 650px) /* 506 + width */ {
	body {
		background: url('/images/yann-bertrand.webp') no-repeat bottom left;
		background-size: 18%;
	}
}
